Source: libcs50-java
Priority: optional
Maintainer: CS50 Sysadmins <sysadmins@cs50.harvard.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Section: java
Vcs-Git: https://github.com/cs50/libcs50-java.git

Package: libcs50-java
Architecture: any
Conflicts: lib50-java
Depends: ${misc:Depends}
Provides: lib50-java, libcs50-java
Replaces: lib50-java, libcs50-java
Description: CS50 library for Java
 makes it easier to write programs that prompt the users for input
